* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(142, 80, 204);
}
.header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.header-navbar {
    background-color: rgba(148, 147, 147, 0.575);
    margin-left: 40px;
    border-radius: 20px;
}
.header-navbar-text {
    padding-top: 10px;
}
.header-navbar-mode {
    background-color: rgba(148, 147, 147, 0.575);
    margin-top: 10px;
    border-radius: 20px;
}
.navbar {
    background-color: rgba(148, 147, 147, 0.575);
    margin-top: 40px;
    margin-inline: 300px;
    border-radius: 20px;
}
.main {
    margin-top: 200px;
}