* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: black;
    min-height: 100vh;
    background-size: 125%;
    backdrop-filter: blur(100px);
}
#word-display {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
}
#input-container {
    display: inline-block;
}
#input-field {
    font-size: 1.2em;
    padding: 10px;
    width: 300px;
    color: white;
}
#timer {
    font-size: 1.8em;
    margin-bottom: 0px;
    position: absolute;
    top: 28vh;
    left: 15vw;
}
#start-button{
    color: #eee;
    font-weight: bolder;
    font-size: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large; 
    border: 0px;
    box-shadow:3px 3px  #b30202;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 10vh;
}
#results {
    margin-top: 0px;
    margin-bottom: 1vh;
}
.header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.header-navbar {
    margin-left: 40px;
    border-radius: 10vh;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    margin-top: 0vh;
    background-color: #9e02b305;
    box-shadow:1px 2px #b30202;
    border-radius: 10vh;
}
select{
    color: #ffffff; /* Couleur du texte */
    
}
.header-navbar-text {
    margin-top: 1.5vh; 
    margin-left: 2vw;
    margin-right: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-weight: bolder;
    border-color: #b30202;
    
}
.header-navbar-mode {
    background-color: rgba(148, 147, 147, 0.253);
    margin-top: 1.5vh;
    margin-right: 2vw;
    border-radius: 20vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-bottom: 1.5vh;
}
.navbar {
    background-color: rgba(148, 147, 147, 0.575);
    margin-top: 40px;
    margin-inline: 300px;
    border-radius: 20px;
}
.main {
    margin-top: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
    color: #eee;
    font-size: 150%;
    text-align: center;
}
input{
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 0vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
    border-radius: 20vh;
    border-color: blue;
    color: white;
    background-color: rgba(0, 0, 255, 0.144);
    font-size: 20px;
}
.correct {
    color: rgb(70, 73, 70);
}
.incorrect {
    color: red
}
.current-highlight {
    background-color: yellow;
}
.keyboard_end {
    display: none;
}
.hidden {
    display: none;
}
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-inline: 400px;
    
    
}
.row {
    display: flex;
    gap: 5px;
}
.row1 {
    display: flex;
    gap: 5px;
    margin-inline: 10px;
}
button {
    padding: 15px 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eee;
}
button.special1 {
    padding: 10px 15px;
    font-size: 15px;
    margin-left: 10px;
}
button.special2 {
    padding: 10px 15px;
    font-size: 15px;
    margin-right: 10px;
}
button.space {
    width: 75%;
    margin-inline: 53px;
}
button.active {
    background-color: rgba(255, 0, 0, 0.829);
}
.fa-keyboard{
    margin-top: 2vh;
    font-size: 25px;
    position: absolute;
    margin-left: 70%;
    color: aliceblue;
}
.fa-keyboard:hover{
    color: #b30202;
}
.fa-crown{
    margin-top: 1.5vh;
    font-size: 25px;
    position: absolute;
    margin-left: 75%;
    color: aliceblue;
}
.fa-crown:hover{
    color: #b30202;
}
.fa-wrench{
    margin-top: 1.8vh;
    font-size: 21px;
    position: absolute;
    margin-left: 80%;
    color: aliceblue;
}
.fa-wrench:hover{
    color: #b30202;
}
.fa-arrows-rotate{
    margin-top: 2vh;
    font-size: 30px;
    position: absolute;
    margin-left: 27%;
    color: aliceblue;
}
.fa-arrows-rotate:hover{
    color: #b30202;
}
.logo{
    border-radius: 50%;
    height: 3%;
    width: 3%;
    filter: none;
    margin-left: 20vw;
    margin-top: 1vh;
    object-fit: contain;
}
h1{
    margin-left: 1.5vw;
    font-size: 40px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:3px 1px #b30202;
}